* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Noto Sans TC", sans-serif;
	font-weight: bold;
}

body {
	height: 100%;
	max-width: 1920px;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1920px;
	height: 54px;
	.header-nav {
		width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 54px;
		.index-a {
			text-decoration: none;
			font-size: 30px;
			color: #448899;
			margin: 10px 0;
		}
		nav {
			ul {
				display: flex;
				list-style-type: none;
				justify-content: space-around;
				li {
					font-size: 16px;
					a {
						color: #666666;
						text-decoration: none;
						margin: 10px;
						font-weight: lighter;
						cursor: pointer;
					}
				}
			}
		}
	}
}

#logout-member #login-register {
	color: #666666;
	text-decoration: none;
	margin: 10px;
	font-weight: lighter;
	cursor: pointer;
}

///// * login * /////
.login {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	z-index: 5;
	// display: flex;
	display: none;
	justify-content: center;
	align-items: center;

	.login-div {
		top: 80px;
		width: 340px;
		height: 275px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: absolute;
		border-radius: 5px;
		.decorator-bar {
			width: 340px;
			height: 10px;
			background: linear-gradient(90deg, #337788, #66aabb);
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}

		form {
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 310px;
			height: 235px;
			margin: 15px;

			.login-close {
				position: absolute;
				right: 17px;
				cursor: pointer;
			}
			h2 {
				text-align: center;
				color: #666666;
				margin-bottom: 15px;
			}
			input {
				height: 47px;
				width: 310px;
				color: #757575;
				border-radius: 5px;
				font-weight: 500;
				font-size: medium;
				margin-bottom: 10px;
				padding: 15px;
				border: 1px solid #cccccc;
			}
			button {
				width: 310px;
				height: 47px;
				background-color: #448899;
				color: #ffffff;
				font-weight: 300;
				border-style: none;
				border-radius: 5px;
				font-size: 19px;
				cursor: pointer;
			}
			.login-register-button {
				width: 310px;
				height: 22px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #666666;
				font-weight: 500;
				cursor: pointer;
				font-size: 16px;
			}
		}
	}
}

///// * Register Account * /////
.register {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	z-index: 5;
	// display: flex;
	display: none;
	justify-content: center;
	align-items: center;

	.register-div {
		top: 80px;
		width: 340px;
		height: 332px;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: absolute;
		border-radius: 5px;
		.decorator-bar {
			width: 340px;
			height: 10px;
			background: linear-gradient(90deg, #337788, #66aabb);
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
		}

		form {
			display: flex;
			align-items: center;
			flex-direction: column;
			width: 310px;
			height: 292px;
			margin: 15px;

			.register-close {
				position: absolute;
				right: 17px;
				cursor: pointer;
			}
			h2 {
				text-align: center;
				color: #666666;
				margin-bottom: 15px;
			}
			input {
				height: 47px;
				width: 310px;
				color: #757575;
				border-radius: 5px;
				font-weight: 500;
				font-size: medium;
				margin-bottom: 10px;
				padding: 15px;
				border: 1px solid #cccccc;
			}
			button {
				width: 310px;
				height: 47px;
				background-color: #448899;
				color: #ffffff;
				font-weight: 300;
				border-style: none;
				border-radius: 5px;
				font-size: 19px;
				cursor: pointer;
			}
			.login-button {
				width: 310px;
				height: 22px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #666666;
				font-weight: 500;
				cursor: pointer;
				font-size: 16px;
			}
		}
	}
}

#register-give-back {
	display: none;
	align-items: center;
	justify-content: center;
	height: 47px;
}
#login-give-back {
	display: none;
	align-items: center;
	justify-content: center;
	height: 47px;
}

.attractions-section {
	width: 100%;
	min-height: 400px;
	margin: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	.attractions-card {
		width: 1200px;
		height: 400px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: minmax(400px, auto);
		grid-gap: 30px;
		padding: 0 15px;

		.attractions-img-div {
			position: relative;
			margin: auto;
			width: 100%;
			height: 100%;
			.slides {
				display: none;
				width: 100%;
				height: 100%;
				img {
					border-radius: 5px;
					width: 100%;
					height: 100%;
					object-fit: cover;
					vertical-align: middle;
				}
			}

			.prev,
			.next {
				cursor: pointer;
				position: absolute;
				top: 50%;
				width: auto;
				transition: 0.6s ease;
			}
			.prev {
				left: 10px;
			}

			.next {
				right: 10px;
			}

			.dot-item {
				text-align: center;
				position: absolute;
				bottom: 3%;
				width: 100%;
			}

			.dot {
				height: 12px;
				width: 12px;
				margin: 0 2px;
				background-color: White;
				border: #ffffff;
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.6s ease;
			}

			.active,
			.dot:hover {
				background-color: black;
				color: White;
			}
		}
	}

	.attractions-news {
		width: 100%;
		height: 100%;
		.attractions-name {
			height: 33px;
			margin: 5px 0 15px 0;
			h2 {
				font-size: 24px;
				color: #666666;
			}
		}
		.attractions-mrt {
			display: flex;
			justify-content: start;
			height: 22px;
			margin-bottom: 20px;
			p {
				font-size: 16px;
				color: #666666;
			}
		}
		.attractions-travel {
			background-color: #e8e8e8;
			height: 305px;
			border-radius: 5px;
			form {
				height: 100%;
				padding: 15px 20px;
				color: #666666;

				h4 {
					font-size: 16px;
					margin-bottom: 15px;
				}
				p {
					font-weight: 400;
				}
				input {
					margin: 0 0 15px 0;
				}
				span {
					font-size: 16px;
					font-weight: 400;
				}
				.panel-style {
					font-size: 16px;
					font-weight: 400;
				}

				button {
					width: 154px;
					height: 40px;
					background-color: #448899;
					color: #ffffff;
					font-size: 16px;
					font-weight: 400;
					margin: 25px 0 0 0;
					border: none;
					border-radius: 5px;
				}
			}
		}
	}
}

.dividing-line {
	max-width: 1200px;
	text-align: center;
	margin: 40px auto 40px auto;
	border-style: groove;
	border-width: 1px;
	color: #e8e8e8;
}
#morning-panel,
#afternoon-panel {
	display: none;
}
#start {
	width: 193px;
	height: 35px;
	margin: 20px 0;
	padding: 5px 10px;
}

#morning,
#afternoon {
	accent-color: #448899;
}

#morning:checked ~ #morning-panel {
	display: inline;
	font-size: 16px;
	font-size: medium;
}
#afternoon:checked ~ #afternoon-panel {
	display: inline;
	font-size: 16px;
}

.attractions-introduce {
	width: 100%;
	height: 100%;
	margin: 40px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	.attractions-introduce-div {
		width: 1200px;
		height: 100%;
		color: #666666;
		padding: 10px;
		display: flex;
		flex-direction: column;
		.attractions-describe-itme-1 {
			margin-bottom: 20px;
			line-height: 23px;
			font-weight: 400;
		}
		.attractions-describe-itme-2 {
			margin-bottom: 20px;
			h4 {
				line-height: 13.3px;
				height: 32px;
			}
			p {
				line-height: 23px;
				height: 24px;
				font-weight: 400;
			}
		}
		.attractions-describe-itme-3 {
			h4 {
				line-height: 13.3px;
				height: 32px;
			}
			p {
				line-height: 23px;
				font-weight: 400;
				margin-bottom: 80px;
			}
		}
	}
}

footer {
	width: 100%;
	height: 104px;
	background-color: #757575;
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 14px;
		width: 234px;
		font-size: 16px;
		color: #ffffff;
	}
}

@media screen and (max-width: 1200px) {
	.attractions-section {
		.attractions-card {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media screen and (max-width: 700px) {
	#start {
		max-width: 64%;
	}
}

@media screen and (max-width: 615px) {
	.attractions-section {
		.attractions-card {
			height: 100%;

			grid-template-columns: repeat(1, 1fr);
			.attractions-img-div {
				.slides {
					max-width: 582px;
					max-height: 406px;
				}
			}
		}
	}
}
@media screen and (max-width: 360px) {
	.attractions-section {
		margin: 0;
		.attractions-card {
			padding: 0;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 20px;
			grid-template-rows: 360px 390px;
			.attractions-news {
				padding: 10px;
				.attractions-name {
					margin-bottom: 15px;
				}
				.attractions-mrt {
					margin-bottom: 20px;
				}
				.attractions-travel {
					width: 340px;
					height: 300px;
					form {
						padding: 15px;
						h4 {
							margin-bottom: 15px;
						}
						p {
							margin-bottom: 0;
						}
						input {
							margin-bottom: 10px;
						}
						button {
							width: 154px;
							height: 36px;
						}
						#start {
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
}
