.member-sectoion {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.member-sectoion .member-section-div {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 10px;
}
.member-sectoion .member-section-div .calendar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #448899;
  margin: 10px 0;
  width: 100%;
  font-size: 24px;
}
.member-sectoion .member-section-div .calendar-title .calendar-control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 10px 0;
  border-radius: 5px;
  width: 154px;
  font-size: 12px;
  color: #ffffff;
  background-color: #448899;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.member-sectoion .member-section-div .calendar-title .calendar-control .calendar-control-1 {
  font-weight: 300;
}
.member-sectoion .member-section-div .calendar-title .calendar-control .calendar-control-2 {
  display: none;
  font-weight: 300;
}
.member-sectoion .member-section-div .member-info-div {
  flex: 1;
  width: 100%;
  padding: 10px;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #448899;
  margin: 10px 0;
  font-size: 20px;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .picture {
  width: 50%;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .picture .picture-div {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .picture .picture-div img {
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .picture .modify-picture {
  position: absolute;
  right: 100px;
  top: -30px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  grid-gap: 15px;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  color: #666666;
  position: relative;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .modify-info {
  position: absolute;
  right: 80px;
  top: 0;
  cursor: pointer;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme .form-item-1,
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme .form-item-2 {
  display: none;
  justify-content: center;
  align-items: center;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme .form-item-1 input,
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme .form-item-2 input {
  color: #757575;
  padding: 15px;
  outline-style: none;
  cursor: pointer;
  height: 30px;
  width: 200px;
  font-size: 16px;
  margin: 0 10px;
}
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme .form-item-1 button,
.member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme .form-item-2 button {
  height: 33.2px;
  width: 70px;
  border: none;
  border-radius: 5%;
  background: #448899;
  color: white;
  cursor: pointer;
}
.member-sectoion .member-section-div .memrber-booking {
  flex: 1;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.member-sectoion .member-section-div .memrber-booking .booking-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #448899;
  margin: 10px 0;
  font-size: 20px;
}
.member-sectoion .member-section-div .memrber-booking .booking-control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 10px 0;
  border-radius: 5px;
  width: 154px;
  font-size: 12px;
  color: #ffffff;
  background-color: #448899;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.member-sectoion .member-section-div .memrber-booking .booking-control .booking-control-1 {
  font-weight: 300;
}
.member-sectoion .member-section-div .memrber-booking .booking-control .booking-control-2 {
  display: none;
  font-weight: 300;
}
.member-sectoion .member-section-div .memrber-booking .member-booking-info {
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: column;
}
.member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-1 {
  background-color: #e8e8e8;
  border-radius: 5px;
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  grid-gap: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #666666;
  height: 100%;
}
.member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-1 div {
  display: flex;
  height: 100%;
}
.member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-1 .booking-attraction-itme {
  font-size: 16px;
  color: #448899;
}
.member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-2 {
  width: 50%;
  margin: 10px;
}
.member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-2 div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-2 div img {
  width: 80%;
  height: 80%;
}
.member-sectoion .member-section-div .memrber-order {
  flex: 1;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.member-sectoion .member-section-div .memrber-order .order-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #448899;
  margin: 10px 0;
  font-size: 20px;
}
.member-sectoion .member-section-div .memrber-order .order-control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 10px 0;
  border-radius: 5px;
  width: 154px;
  font-size: 12px;
  color: #ffffff;
  background-color: #448899;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.member-sectoion .member-section-div .memrber-order .order-control .order-control-1 {
  font-weight: 300;
}
.member-sectoion .member-section-div .memrber-order .order-control .order-control-2 {
  display: none;
  font-weight: 300;
}
.member-sectoion .member-section-div .memrber-order .member-order-info {
  width: 100%;
  display: none;
  justify-content: center;
  flex-direction: column;
}
.member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-1 {
  background-color: #e8e8e8;
  border-radius: 5px;
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  grid-gap: 10px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #666666;
  height: 100%;
}
.member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-1 div {
  display: flex;
  height: 100%;
}
.member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-1 .member-order-info-p {
  font-size: 16px;
  color: #448899;
}
.member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-2 {
  width: 50%;
  margin: 10px;
}
.member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-2 div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-2 div img {
  width: 80%;
  height: 80%;
}

.fc-daygrid-event {
  white-space: break-spaces !important;
}

.fc-event-title {
  width: 90px !important;
  font-size: 12px !important;
  overflow: visible !important;
  word-wrap: break-word !important;
}

.fc-event-time {
  display: none;
}

#calendar {
  width: 80%;
  margin: 10px;
  font-size: 18px;
}

hr {
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #e8e8e8;
  text-align: center;
}

.order-hr {
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 0.5px dashed #c2bfbf;
  text-align: center;
}

#user-picture {
  width: 230px;
  height: 230px;
}

@media screen and (max-width: 1200px) {
  .member-sectoion .member-section-div {
    width: 100%;
  }
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .picture .modify-picture {
    right: 25px;
  }
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .modify-info {
    right: 20px;
  }
  #calendar {
    width: 80%;
    font-size: 16px;
  }
}
.not-data-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  color: #666666;
  margin: 10px 0;
}

@media screen and (max-width: 900px) {
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item {
    flex-direction: column;
  }
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .picture {
    height: 100%;
  }
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .picture .modify-picture {
    top: 20px;
    right: -50px;
  }
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email {
    width: 80%;
  }
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme {
    font-size: 20px;
  }
  .member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme {
    flex-direction: column-reverse;
  }
  .member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-1 {
    width: 80%;
    grid-gap: 0px;
  }
  .member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-2 {
    width: 80%;
  }
  .member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-2 div {
    width: 100%;
    height: 100%;
  }
  .member-sectoion .member-section-div .memrber-booking .member-booking-info .member-booking-info-itme .member-booking-info-itme-2 div img {
    width: 100%;
    height: 100%;
  }
  .member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme {
    flex-direction: column-reverse;
  }
  .member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-1 {
    width: 80%;
  }
  .member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-2 {
    width: 80%;
  }
  .member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-2 div {
    width: 100%;
    height: 100%;
  }
  .member-sectoion .member-section-div .memrber-order .member-order-info .member-order-info-itme .member-order-info-itme-2 div img {
    width: 100%;
    height: 100%;
  }
  #calendar {
    font-size: 10px;
  }
  #user-picture {
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 550px) {
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email {
    width: 100%;
  }
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme .form-item-1 input,
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme .form-item-2 input {
    width: 120px;
  }
}
@media screen and (max-width: 420px) {
  #calendar {
    font-size: 8px;
  }
}
@media screen and (max-width: 360px) {
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .picture {
    height: 200px;
  }
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .picture .picture-div {
    height: 100%;
  }
  .member-sectoion .member-section-div .member-info-div .member-info-div-info .member-info-div-info-item .member-info-name-email .member-info-name-email-itme {
    text-align: start;
  }
}/*# sourceMappingURL=member.css.map */