* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
}

body {
  height: 100%;
  max-width: 1920px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  height: 54px;
}
nav .header-nav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}
nav .header-nav .index-a {
  text-decoration: none;
  font-size: 30px;
  color: #448899;
  margin: 10px 0;
}
nav .header-nav nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
nav .header-nav nav ul li {
  font-size: 16px;
}
nav .header-nav nav ul li a {
  color: #666666;
  text-decoration: none;
  margin: 10px;
  font-weight: lighter;
  cursor: pointer;
}

#logout-member #login-register {
  color: #666666;
  text-decoration: none;
  margin: 10px;
  font-weight: lighter;
  cursor: pointer;
}

#img-item {
  pointer-events: none;
}

#hidden-div {
  position: absolute;
  top: 51px;
  height: 162px;
  width: 400px;
  border-radius: 5px;
  background-color: #ffffff;
  grid-template-columns: repeat(3, 120px);
  grid-auto-rows: 40px;
  display: none;
}
#hidden-div .hidden-div-item {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
#hidden-div .hidden-div-item:hover {
  background-color: #e8e8e8;
}

.login {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
}
.login .login-div {
  top: 80px;
  width: 340px;
  height: 275px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border-radius: 5px;
}
.login .login-div .decorator-bar {
  width: 340px;
  height: 10px;
  background: linear-gradient(90deg, #337788, #66aabb);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.login .login-div form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 310px;
  height: 235px;
  margin: 15px;
}
.login .login-div form .login-close {
  position: absolute;
  right: 17px;
  cursor: pointer;
}
.login .login-div form h2 {
  text-align: center;
  color: #666666;
  margin-bottom: 15px;
}
.login .login-div form input {
  height: 47px;
  width: 310px;
  color: #757575;
  border-radius: 5px;
  font-weight: 500;
  font-size: medium;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #cccccc;
}
.login .login-div form button {
  width: 310px;
  height: 47px;
  background-color: #448899;
  color: #ffffff;
  font-weight: 300;
  border-style: none;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
}
.login .login-div form .login-register-button {
  width: 310px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

.register {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
}
.register .register-div {
  top: 80px;
  width: 340px;
  height: 332px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border-radius: 5px;
}
.register .register-div .decorator-bar {
  width: 340px;
  height: 10px;
  background: linear-gradient(90deg, #337788, #66aabb);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.register .register-div form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 310px;
  height: 292px;
  margin: 15px;
}
.register .register-div form .register-close {
  position: absolute;
  right: 17px;
  cursor: pointer;
}
.register .register-div form h2 {
  text-align: center;
  color: #666666;
  margin-bottom: 15px;
}
.register .register-div form input {
  height: 47px;
  width: 310px;
  color: #757575;
  border-radius: 5px;
  font-weight: 500;
  font-size: medium;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #cccccc;
}
.register .register-div form button {
  width: 310px;
  height: 47px;
  background-color: #448899;
  color: #ffffff;
  font-weight: 300;
  border-style: none;
  border-radius: 5px;
  font-size: 19px;
  cursor: pointer;
}
.register .register-div form .login-button {
  width: 310px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

#register-give-back {
  display: none;
  align-items: center;
  justify-content: center;
  height: 47px;
}

#login-give-back {
  display: none;
  align-items: center;
  justify-content: center;
  height: 47px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 100%;
  margin: 0;
  background-image: url(../images/welcome.png);
  background-size: cover;
}
header .header-section {
  display: flex;
  flex-direction: column;
  width: 1180px;
  height: 149px;
  margin: 10px;
}
header .header-section h1 {
  font-size: 28px;
  color: #f8f8f8;
  padding: 0;
  height: 41px;
  margin-bottom: 15px;
}
header .header-section p {
  height: 22px;
  color: #f8f8f8;
  margin-bottom: 25px;
}
header .header-section form {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 460px;
}
header .header-section form input {
  height: 46px;
  max-width: 400px;
  width: 60vw;
  margin: 0 0;
  font-size: 16px;
  color: #757575;
  padding: 15px;
}
header .header-section form button {
  border: none;
  border-radius: 0 10% 10% 0;
  background: #448899;
  color: white;
  width: 60px;
  height: 46px;
  font-size: 30px;
  padding: 0;
  cursor: pointer;
}
header .header-section form button .button-icon {
  padding: 8px 5px 8px 15px;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}
main section {
  height: 100%;
  margin: 40px 0px 40px 0px;
  padding: 15px;
  width: 1200px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 270px);
  grid-auto-rows: 242px;
  grid-gap: 30px;
}
main section .main-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: #e8e8e8;
  border-width: 1px;
  border-radius: 5px;
}
main section .main-container .attractions-item-1 {
  width: 100%;
  height: 197px;
  position: relative;
  z-index: 1;
}
main section .main-container .attractions-item-1 .a-itme {
  text-decoration: none;
}
main section .main-container .attractions-item-1 .a-itme .main-imgs {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .main-container .attractions-item-1 .a-itme .main-imgs:hover {
  opacity: 0.5;
  transition: all 0.2s ease;
}
main section .main-container .attractions-item-1 .a-itme .main-name-p {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 40px;
  width: 100%;
  font-size: 16px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: absolute;
  z-index: 2;
}
main section .main-container .attractions-item-2 {
  height: 45px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
main section .main-container .attractions-item-2 p {
  height: 25px;
  width: 125px;
  font-size: 16px;
  font-weight: lighter;
  color: #757575;
}
main section .main-container .attractions-item-2 .p-left {
  text-align: left;
}
main section .main-container .attractions-item-2 .p-right {
  text-align: right;
}

footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 234px;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  main section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 615px) {
  main section {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 360px) {
  main section {
    grid-template-columns: repeat(1, 1fr);
  }
  #hidden-div {
    height: 162px;
    width: 322px;
  }
  #hidden-div .hidden-div-item {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */