.thankyou-section {
	height: 81vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.thankyou-section-div {
		background-color: #66aabb;
		width: 70%;
		height: 80%;
		display: flex;
		justify-content: center;
		align-items: center;

		$dash-size: 5px;
		$theme-color: #8c5838;
		$fill-color: #7c6b60;
		background: lighten(#d5b7a6, 20%);
		border: $dash-size dashed $theme-color;
		box-shadow: 0 0 0 ($dash-size / 2) darken($theme-color, 20%),
			inset 0 0 0 ($dash-size / 2) darken($theme-color, 20%);

		.card {
			background: radial-gradient(#bbdaef, #6ba4d0);
			margin: 20px;
			padding: 20px;
			width: 95%;
			height: 90%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			border-radius: 10px;
			transition: all 0.2s;
			position: relative;
			box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
			color: #666666;

			.card-title {
				position: relative;
				font-weight: 700;
				margin: 10px 0;
				.card-icon {
					position: absolute;
					right: 150px;
					bottom: 5px;
					width: 50px;
					height: 50px;
				}
				.thankyou-animation-div-item-2 {
					position: absolute;
					left: 100px;
					bottom: 5px;
					.gopher {
						height: 15rem;
						width: 15rem;
					}

					.gopher-animation,
					.left-arm,
					.right-arm,
					.right-foot,
					.left-foot,
					.belly,
					.shadow,
					.left-eye,
					.right-eye,
					.mouth,
					.tongue {
						animation-duration: 4s;
						animation-iteration-count: infinite;
						animation-timing-function: linear;
					}

					.left-eye,
					.right-eye {
						animation-name: blink;
					}

					@keyframes blink {
						0%,
						18%,
						100% {
							visibility: hidden;
						}
						15% {
							visibility: visible;
						}
					}

					.mouth,
					.tongue {
						animation-name: shout;
					}

					@keyframes shout {
						0%,
						18%,
						100% {
							visibility: hidden;
						}
						10% {
							visibility: visible;
						}
					}

					.gopher-animation {
						animation-name: jump;
					}

					@keyframes jump {
						0%,
						15%,
						100% {
							transform: translateY(0);
						}
						6% {
							transform: translateY(5%);
						}
						12% {
							transform: translateY(-30%);
						}
					}

					.right-arm {
						animation-name: rotateRightArm;
						transform-box: fill-box;
					}

					@keyframes rotateRightArm {
						0%,
						6%,
						18%,
						100% {
							transform: rotate(0deg);
						}
						13% {
							transform: rotate(-120deg) translateX(-50%);
						}
					}

					.left-arm {
						animation-name: rotateLeftArm;
						transform-box: fill-box;
						transform-origin: top right;
					}

					@keyframes rotateLeftArm {
						0%,
						6%,
						18%,
						100% {
							transform: rotate(0deg);
						}
						13% {
							transform: rotate(120deg) translateX(50%);
						}
					}

					.right-foot {
						animation-name: bendRightFoot;
						transform-origin: top left;
					}

					@keyframes bendRightFoot {
						0%,
						15%,
						100% {
							transform: translateY(0);
						}
						6% {
							transform: translateY(-3%);
						}
						12% {
							transform: translateY(5%) rotate(-5deg);
						}
					}

					.left-foot {
						animation-name: bendLeftFoot;
						transform-origin: top right;
					}

					@keyframes bendLeftFoot {
						0%,
						15%,
						100% {
							transform: translateY(0);
						}
						6% {
							transform: translateY(-3%);
						}
						12% {
							transform: translateY(5%) rotate(5deg);
						}
					}

					.belly {
						animation-name: bounce;
					}

					@keyframes bounce {
						0%,
						10%,
						15%,
						18%,
						100% {
							transform: translateY(0);
						}
						6% {
							transform: translateY(1%);
						}
						12% {
							transform: translateY(-2%);
						}
						16% {
							transform: translateY(1%);
						}
					}

					.shadow {
						animation-name: scaleShadow;
						transform-origin: center center;
						transform: scaleX(1);
					}

					@keyframes scaleShadow {
						0%,
						8%,
						15%,
						100% {
							transform: scaleX(1);
						}
						12% {
							transform: scaleX(0.65);
						}
					}
				}
			}
			.card-item-1 {
				font-weight: 700;
				margin: 20px 0 30px 0;
			}
			.order-number {
				margin-bottom: 50px;
			}

			p {
				font-weight: 600;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.header-nav {
		margin: 0 10px;
	}
	.thankyou-section {
		.thankyou-section-div {
			.card {
				.card-title {
					.thankyou-animation-div-item-2 {
						.gopher {
							height: 10rem;
							width: 10rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.thankyou-section {
		.thankyou-section-div {
			margin: 0 10px;
			width: 100%;
			.card {
				.card-title {
					.thankyou-animation-div-item-2 {
						.gopher {
							height: 9rem;
							width: 9rem;
						}
					}
				}
				p {
					text-align: center;
				}
			}
		}
	}
}
