{% extends "base.html" %} {% block css %}
<link
	type="text/css"
	rel="stylesheet"
	href="{{ url_for('static', filename='css/attraction.css') }}"
/>
{% endblock %} {% block main %}

<!-- ///// *  attractions-section * ///// -->
<section class="attractions-section">
	<div class="attractions-card">
		<div class="attractions-img-div">
			<div class="dot-item"></div>
			<img
				class="prev"
				src="{{ url_for('static', filename='images/btn_leftArrow.png') }}"
				alt="prev"
			/>
			<img
				class="next"
				src="{{ url_for('static', filename='images/btn_rightArrow.png') }}"
				alt="next"
			/>
		</div>

		<div class="attractions-news">
			<div class="attractions-name"></div>
			<div class="attractions-mrt"></div>
			<div class="attractions-travel">
				<form
					action="/api/booking"
					method="GET"
					class="attractions-travel-form"
				>
					<h4>訂購導覽行程</h4>
					<p>以此景點為中心的一日行程，帶您探索城市角落故事</p>

					<label for="start" class="label-item">選擇日期：</label>
					<input type="date" name="date" id="start" />
					<br />
					<label for="data-time" class="label-item">選擇時間：</label>
					<input
						type="radio"
						id="morning-panel"
						name="data-time"
						checked="checked"
						value="新台幣2000元"
					/>
					<span>上半天</span>
					<input
						type="radio"
						id="afternoon-panel"
						name="data-time"
						value="新台幣2500元"
					/>
					<span>下半天</span>
					<br />

					<label class="label-item">導覽費用：</label>
					<span id="morning" class="panel-style">新台幣2000元</span>
					<br />
					<button type="submit" id="attractions-booking-button">
						開始預約行程
					</button>
				</form>
			</div>
		</div>
	</div>
</section>

<hr class="dividing-line" />

<!-- ///// *  attractions-introduce * ///// -->
<section class="attractions-introduce">
	<div class="attractions-introduce-div">
		<div class="attractions-describe-itme-1"></div>
		<div class="attractions-describe-itme-2">
			<h4>景點地址</h4>
			<p></p>
		</div>
		<div class="attractions-describe-itme-3">
			<h4>交通方式：</h4>
			<p></p>
		</div>
	</div>
</section>

{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/attraction.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
<script src="{{ url_for('static', filename='js/checkBook.js') }}"></script>
{% endblock %}
