{% extends "base.html" %} {% block css %}
<link
	type="text/css"
	rel="stylesheet"
	href="{{ url_for('static', filename='css/booking.css') }}"
/>

{% endblock %} {% block main %}

<!-- ///// *  booking-attraction-user-name * ///// -->
<section class="booking-attraction-user-name">
	<div class="booking-attraction-p-itme">
		<span>您好，</span>
		<span class="booking-username"></span>
		<span>，待預訂的行程如下：</span>
	</div>
</section>

<!-- ///// *  not-booking * ///// -->
<section class="not-booking">
	<!-- <div class="not-booking-itme">目前沒有任何待預訂的行程</div> -->
</section>

<!-- ///// *  booking-attraction * ///// -->

<section class="booking-attraction-section">
	<!-- <div class="booking-attraction-div">
		<div class="booking-attraction-info">
			<div class="booking-attraction-info-img">
				<div class="img-update">
					<div></div>
					<div></div>
					<div></div>
					<p>Loading..</p>
				</div>
			</div>
			<div class="booking-attraction-info-div">
				<div class="booking-attraction-info-title">
					<p>台北一日遊：</p>
					<p class="info-title-name"></p>
				</div>

				<div class="booking-attraction-info-itme">
					<p>日期：</p>
					<p class="info-title-data info-itme-1"></p>
				</div>
				<div class="booking-attraction-info-itme">
					<p>時間：</p>
					<p class="info-title-time info-itme-1"></p>
				</div>
				<div class="booking-attraction-info-itme">
					<p>費用：</p>
					<p class="info-title-pay info-itme-1"></p>
				</div>
				<div class="booking-attraction-info-itme">
					<p>地點：</p>
					<p class="info-title-place info-itme-1"></p>
				</div>
			</div>
		</div>
		<div class="booking-attraction-info-delete">
			<img
				src="{{ url_for('static', filename='images/icon_delete.png') }}"
				alt=""
			/>
		</div>
	</div>-->
</section>

<div class="hr-item-1">
	<hr />
</div>

<!-- ///// *  booking-user * ///// -->
<section class="booking-user-section">
	<div class="booking-attraction-div">
		<div class="booking-attraction-div-item">
			<div class="booking-attraction-div-item-1">您的聯絡資訊</div>
			<form>
				<div>
					<label for="user-name">聯絡姓名：</label>
					<input type="text" name="user-name" id="user-name" required />
				</div>
				<div>
					<label for="user-email">連絡信箱：</label>
					<input type="email" name="user-email" id="user-email" required />
				</div>
				<div>
					<label for="user-phone">手機號碼：</label>
					<input type="text" name="user-phone" id="user-phone" required />
				</div>
			</form>
			<div class="booking-attraction-div-item-2">
				請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
			</div>
		</div>
	</div>
</section>
<div class="hr-item-2">
	<hr />
</div>

<!-- ///// *  booking-credit-card * ///// -->
<section class="booking-credit-card-section">
	<div class="booking-credit-card-div">
		<div class="booking-credit-card-div-item">
			<div class="booking-credit-card-div-item-1">信用卡付款資訊</div>
			<form>
				<div class="card-number-group">
					<label for="card-number">卡片號碼：</label>
					<!-- <input type="text" name="card-number" id="card-number" /> -->
					<div class="tpfield" id="card-number"></div>
				</div>
				<div class="card-expiration-date-group">
					<label for="card-expiration-date">過期時間：</label>
					<!-- <input
								type="text"
								name="card-expiration-date"
								id="card-expiration-date"
							/> -->
					<div class="tpfield" id="card-expiration-date"></div>
				</div>
				<div class="card-ccv-group">
					<label for="card-ccv">驗證密碼：</label>
					<!-- <input type="text" name="card-ccv" id="card-ccv" /> -->
					<div class="tpfield" id="card-ccv"></div>
				</div>
			</form>
		</div>
	</div>
</section>
<div class="hr-item-3">
	<hr />
</div>

<!-- ///// *  booking-info * ///// -->
<section class="booking-info-section">
	<div class="booking-info-div">
		<div class="booking-info-div-item">
			<div class="booking-info-div-total">
				<span>總價：</span>
				<span id="price-total"></span>
			</div>
			<div class="booking-info-div-button">
				<button type="submit" class="btn">確認訂購並付款</button>
			</div>
		</div>
	</div>
</section>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/booking.js') }}"></script>
<script src="https://js.tappaysdk.com/tpdirect/v5.1.0"></script>
<script src="{{ url_for('static', filename='js/tappay.js') }}"></script>
{% endblock %}
