{% extends "base.html" %} {% block css %}
<link
	type="text/css"
	rel="stylesheet"
	href="{{ url_for('static', filename='css/style.css') }}"
/>
{% endblock %} {% block main %}
<!-- ///// *  homepage-header * ///// -->
<header class="homepage-header">
	<div class="header-section">
		<h1>輕鬆享受台北一日悠閒</h1>
		<p>探索每個角落，體驗城市的深度旅遊行程</p>
		<form>
			<input id="clicker" type="search" placeholder="輸入景點名稱查詢" />
			<div id="hidden-div"></div>
			<button id="search">
				<img
					src="{{ url_for('static', filename='images/icon_search.png') }}"
					alt="search"
					id="img-item"
				/>
			</button>
		</form>
	</div>

	<div class="img-update">
		<div></div>
		<div></div>
		<div></div>
		<p>Loading..</p>
	</div>
</header>

<!-- ///// *  homepage-section-main * ///// -->
<section class="homepage-section-main">
	<div class="index-section"></div>
</section>

{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
